header{color:#855454;font-size: 18px;}
header .top{display: flex;height: 50px;line-height: 50px;justify-content: space-between;padding: 0 50px;border-bottom: 1px solid rgb(202, 183, 183);}
header .top ul{display: flex;gap: 20px;}
header .top ul li{list-style: none;}
header .top ul li a{text-decoration: none;color: #855454;}
header .top ul b{color: rgb(71, 71, 249);font-size: 19px;}
header .bottom{display:flex;justify-content:space-between;padding: 10px 50px;align-items: center;}
header .bottom img{height: 90px;}
header .bottom .input {position: relative; display: inline-block;margin-right: 30px;}
header .bottom .input input {padding-left: 20px; width:350px;height: 50px;border: none;border-radius: 4px;background-color: rgba(237, 234, 234, 1);}
header .bottom .input i {position: absolute;left: 290px;top: 13px;color: #888;}
header .bottom i {margin-left: 20px;font-size: 24px; color: #555; }