.container-pay {
    margin-top: 150px;
}

.container-pay h1 {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 25px;
    height: 40px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    background-color: #2358ead4;
}

.container-payment {
    border: 1px solid black;
    width: 87%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 6%;
    margin: 0 auto;
    padding: 20px;
}

.container-payment > .section {
    margin-bottom: 20px;
    margin-right: 5px;
}

.form-group {
    margin-bottom: 10px;
}
.section_radio {
    display: flex;
    align-items: center;
}
.section_radio input {
    width: 30px;
}
.voucher input {
    width: 350px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.product-payment {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.product-payment img{
    width: 100px;
    height: 100px;
}
.product-info {
    margin-left: 20px;
}
