body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #007bff;
}

.top-bar {
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
  font-size: 0.9em;
}

.nav-bar {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-bar ul li {
  margin: 0 10px;
}

.nav-bar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-bar input {
  padding: 5px;
  width: 300px;
  margin-right: 10px;
}

.nav-bar button {
  padding: 5px 10px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

.product-detail-container {
 
  margin: auto 0px ;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-detail {
  display: flex;
  gap: 20px;
  margin-left: 30px;
  width: 80%;
}

.main-image img {
  width: 470px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.product-info h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.product-info p {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 400;
}

.product-price {
  display: flex;
}

.product-price p {
  padding: 10px 10px;
}

.product-price > .old-price {
  text-decoration: line-through;
  color: #575353;
  font-size: 34px;
}

.product-price > .sale-price {
  color: #E41717;
  font-size: 34px;
  font-weight: 800;
  margin-bottom: 20px;
}

.product-price > button {
  background-color: #56A4FF;
}

.btn-add-to-cart,
.btn-buy-now {
  padding: 10px 20px;
  background-color: #56A4FF;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 10px;
  width: 218px;
  height: auto;
  font-size: 29px;
}

.btn-buy-now {
  background-color: #FF0000;
  height: auto;
  width: 181px;
}

.btn-add-to-cart:hover {
  background-color: hsl(220, 81%, 41%);
}

.btn-buy-now:hover {
  background-color: #a71212;
}

.product-specifications {
  margin-top: 20px;
  margin-left: 20%;
  max-width: 60%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, td {
  border: 1px solid #ddd;
  padding: 10px;
}

.related-products {
  margin-top: 30px;
}

.thumbnail-images {
  margin-top: 20px;
  display: flex;
  width: 100px;
  height: 110px;
}

.thumbnail {
  margin: 5px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.thumbnail:hover {
  border: 2px solid #ff851b;
}

.comment-section {
  margin-top: 30px;
  margin-left: 20%;
  max-width: 60%;
}

.comment {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
}

.comment-input {
  margin-top: 20px;
}

.comment-input textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.comment-input button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.products {
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
}

.products .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products .header h1 {
  font-weight: 100;
  font-size: 35px;
  color: #784040;
}

.products .header .xem_them {
  border: 1px solid #855454;
  border-radius: 100px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
  color: #9e6868;
}

.products .header .xem_them i {
  transition: transform 0.3s ease;
}

.products .header .xem_them:hover i {
  transform: translateX(5px);
}

.product-list {
  display: flex;
  margin-top: 30px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.product-list .product {
  border-top: 1px solid rgba(210, 180, 180, 1);
  border-left: 1px solid rgba(210, 180, 180, 1);
  border-bottom: 1px solid rgba(210, 180, 180, 1);
  position: relative;
  overflow: hidden;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.product-list .product:last-child {
  border: 1px solid rgba(210, 180, 180, 1);
}

.product-list .product .discount-label {
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #4fc3f7;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 15px;
}

.product-list .product .img-wrapper {
  width: 270px;
  height: 180px;
  overflow: hidden;
}

.product-list .product .img-wrapper img {
  width: 80%;
  height: 100%;
  transition: transform 0.3s ease;
  padding: 10px;
}

.product-list .product .img-wrapper img:hover {
  transform: scale(1.1);
}

.product-list .product h1 {
  font-size: 17px;
  color: #575353;
  padding: 10px 0;
  font-weight: 500;
}

.product-list .product .price {
  display: flex;
  gap: 20px;
  padding: 10px 0;
}

.product-list .product .price .old-price {
  text-decoration: line-through;
  color: #AE9595;
  font-size: 20px;
}

.product-list .product .price .new-price {
  font-weight: 500;
  color: #ee7c2a;
  font-size: 22px;
}

.product-list .product .add-to-cart {
  color: #4fc3f7;
  background-color: #ffffff;
  border: 1px solid #4fc3f7;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}

.product-list .product .add-to-cart:hover {
  background-color: #4fc3f7;
  color: white;
}
