
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

form {
    background-color: #fff; /* Nền trắng cho form */
    border-radius: 8px; /* Bo tròn góc */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
    padding: 20px; /* Padding cho form */
}

label {
    font-weight: bold; /* Làm cho label nổi bật hơn */
    margin-bottom: 5px; /* Khoảng cách giữa label và input */
}

input[type="text"], 
input[type="radio"] {
    margin-top: 5px; /* Khoảng cách trên của input */
}


.btn {
    background-color: #ffc107; /* Màu nền cho nút */
    color: #fff; /* Màu chữ trắng */
    border: none; /* Bỏ viền */
    border-radius: 4px; /* Bo tròn góc */
    padding: 10px 20px; /* Padding cho nút */
    transition: background-color 0.3s; /* Hiệu ứng chuyển tiếp */
}

.btn:hover {
    background-color: #e0a800; /* Đổi màu khi hover */
}
