/* Customer List Container */
.customer-list {
  padding: 20px;
  max-width: 100%;
  margin: auto;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.customer-list h2 {
  font-size: 1.5rem;
  color: black;
  display: inline-block;
  margin: 0;
}

.customer-add-button {
  float: right;
  background-color: #007bff;
  color: white; 
  padding: 8px 12px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.customer-add-button:hover {
  background-color: #007bff; 
}


/* Table Styles */
.customer-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.customer-thead th {
  background-color: #007bff;
  color: white;
  padding: 10px;
  text-align: left;
}

.customer-tr:nth-child(even) {
  background-color: #f2f2f2;
}

.customer-tr:hover {
  background-color: #ddd;
}

.customer-tr td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Button Styles */
.customer-edit-btn,
.customer-delete-btn {
  padding: 6px 8px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.customer-edit-btn {
  background-color: #007bff;
  color: white;
  margin-right: 5px;
  text-decoration: none;
}

.customer-delete-btn {
  background-color: #f44336;
  color: white;
}

.customer-edit-btn:hover {
  background-color: #1e87d8;
}

.customer-delete-btn:hover {
  background-color: #d32f2f;
}
