/* ManufacturerList.css */

.manufacturer-list {
    width: 100%;
    margin: 10px auto;
    font-family: Arial, sans-serif;
    text-align: center; 
  }
  .manufacturer-header {
    background-color: #007bff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .manufacturer-h2 {
    color: white;
    margin-bottom: 10px;
  }
  
  .manufacturer-add-button {
    padding: 10px 20px;
    background-color: white;
    color: #007bff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }
  
  .manufacturer-add-button-Link{
    color: #0056b3;
  }
  
  .manufacturer-add-button:hover {
    background-color: white;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    padding: 12px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f8f9fa;
    color: #333;
  }
  
  td img {
    border-radius: 5px;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .category-edit-btn,
  .category-delete-btn {
    cursor: pointer;
    padding: 8px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
  }
  
  .category-edit-btn {
    background-color: #007bff;
    color: #fff;
  }
  
  .category-edit-btn:hover {
    background-color: #0056b3;
  }
  
  .category-delete-btn {
    background-color: #dc3545;
    color: #fff;
  }
  
  .category-delete-btn:hover {
    background-color: #c82333;
  }
  