.manufacturerList-list {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.manufacturerList-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4CAF50;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.manufacturerList-h2 {
  color: white;
  font-size: 24px;
  margin: 0;
}

.manufacturerList-add-button {
  background-color: #ffffff;
  border: 1px solid #4CAF50;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.manufacturerList-add-button:hover {
  background-color: #4CAF50;
  color: white;
}

.manufacturerList-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.manufacturerList-thead {
  background-color: #f2f2f2;
}

.manufacturerList-tr {
  border-bottom: 1px solid #ddd;
}

.manufacturerList-th,
.manufacturerList-td {
  padding: 12px;
  text-align: left;
  font-size: 16px;
}

.manufacturerList-th {
  background-color: #4CAF50;
  color: white;
}

.manufacturerList-td {
  background-color: white;
  color: #333;
}

.manufacturerList-edit-btn,
.manufacturerList-delete-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s;
}

.manufacturerList-edit-btn:hover {
  color: #4CAF50;
}

.manufacturerList-delete-btn:hover {
  color: #e74c3c;
}

.manufacturerList-p {
  font-size: 18px;
  color: #666;
  text-align: center;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .manufacturerList-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .manufacturerList-add-button {
    margin-top: 10px;
  }

  .manufacturerList-table {
    font-size: 14px;
  }

  .manufacturerList-td, .manufacturerList-th {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .manufacturerList-h2 {
    font-size: 20px;
  }

  .manufacturerList-table {
    font-size: 12px;
  }

  .manufacturerList-td, .manufacturerList-th {
    padding: 8px;
  }
}
.manufacturerList-add-button-Link {
  color: #4CAF50; 
  text-decoration: none; 
  font-weight: bold;  
  transition: color 0.3s ease;  
}

.manufacturerList-add-button-Link:hover {
  color: white;  
  background-color: #4CAF50;  
  padding: 5px 10px;  
  border-radius: 5px; 
}