* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    width: 80%;
    margin: auto;
    display: flex;
    background-color: #468ff5;
    color: #fff;
    padding: 20px;
    justify-content: space-around;
}

.footer-section {
    width: 20%;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-family: 'Arimo', sans-serif;
}

.footer-section p {
    margin-bottom: 8px;
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
}

.footer-section input[type="email"] {
    padding: 8px;
    width: calc(100% - 16px);
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}

.footer-section button {
    padding: 8px 16px;
    margin-top: 10px;
    margin-left: 140px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.social-icons {
    margin-top: 10px;
    
}
.social-icons img{
    background-color: rgba(255, 0, 0, 0);
    width: 35px;
    height: 35px;
}
.social-icons #fb{
    background-color: white;
}

.social-icons span {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}
